# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
.next/
out/
dist/
build/
.vercel/
.next/cache/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Misc
coverage/
.idea/
.vscode/
*.lock
